<html>
    <head>
        <title>Auth Policies</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Organizational Policies List</a></h1>
        </div>

        {% for rule in rules %}
            <div>
                <h2><a href="">{{ rule.name }}</a></h2>
                <p>Priority level: {{ rule.priority|linebreaksbr }}</p>
                <p>Clearance level: {{ rule.clear_level|linebreaksbr }}</p>
                <p>Citizenship: {{ rule.citizenship|linebreaksbr }}</p>
                <p>Published: {{rule.published_date }}</p>
            </div>
        {% endfor %}
    </body>
</html>
